DISCORD_TOKEN=replace_with_your_bot_token
TICKET_PANEL_CHANNEL_ID=replace_with_your_ticket_panel_channel_id
SUPPORT_CATEGORY_ID=replace_with_your_support_category_id
TICKET_LOGS_CHANNEL_ID=replace_with_your_ticket_logs_channel_id
STAFF_ROLE_ID=replace_with_your_staff_role_id
AUTO_CLOSE_HOURS=48
